@page "/auth/solicitante"
@inject HttpClient Http

<PageTitle>Solicitante</PageTitle>

<h3>Solicitante</h3>

@if (_solicitantes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (_solicitantes.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th rowspan="2" data-label="Nombre">Nombre</th>
            <th rowspan="2" data-label="Fecha de Nacimiento">Fecha de Nacimiento</th>
            <th colspan="3" class="text-center">Pagos</th>
        </tr>
        <tr>
            <th data-label="Monto">Monto</th>
            <th data-label="Cuenta">Cuenta</th>
            <th data-label="Fecha Límite">Fecha Límite</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var solicitante in _solicitantes)
        {
            if (solicitante.Pagos.Any())
            {
                int pagosCount = solicitante.Pagos.Count;

                bool firstRow = true;
                foreach (var pago in solicitante.Pagos)
                {
                    <tr>
                        @if (firstRow)
                        {
                            <td rowspan="@pagosCount" data-label="Nombre">@solicitante.Nombre_Solicitante</td>
                            <td rowspan="@pagosCount" data-label="Fecha de Nacimiento">@solicitante.Fecha_Nacimiento_Solicitante.ToShortDateString()</td>
                            firstRow = false;
                        }
                        <td data-label="Monto">@pago.Monto_Pago.ToString("C")</td>
                        <td data-label="Cuenta">@pago.Cuenta_Pago</td>
                        <td data-label="Fecha Límite">@pago.Fecha_Limite_Pago.ToShortDateString()</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td data-label="Nombre">@solicitante.Nombre_Solicitante</td>
                    <td data-label="Fecha de Nacimiento">@solicitante.Fecha_Nacimiento_Solicitante.ToShortDateString()</td>
                    <td colspan="3" class="text-center">
                        <em>No hay pagos disponibles</em>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}

@code {
    private List<Models.Solicitante>? _solicitantes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _solicitantes = await Http.GetFromJsonAsync<List<Models.Solicitante>>("http://localhost:5561/api/solicitantes");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener los solicitantes: {ex.Message}");
        }
    }

}