@model IEnumerable<AspireApp1.WebUbam.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<div class="d-flex justify-content-between align-items-center w-100 my-4">
    <h3>Pagos</h3>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
else if (!Model.Any())
{
    <p>No se encontraron pagos.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Concepto</th>
            <th>Monto</th>
            <th>Cuenta</th>
            <th>Sucursal</th>
            <th>Referencia</th>
            <th>Banco</th>
            <th>Fecha Límite</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@pago.Concepto_Pago</td>
                <td>@pago.Monto_Pago</td>
                <td>@pago.Cuenta_Pago</td>
                <td>@pago.Sucursal_Pago</td>
                <td>@pago.Referencia_Pago</td>
                <td>@pago.Banco_Pago</td>
                <td>@pago.Fecha_Limite_Pago.ToString("dd/MM/yyyy")</td>
            </tr>
        }
        </tbody>
    </table>
}
